* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(68, 68, 65);
}

#gameboard {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 2;
}

#canvas2 {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
}