* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(68, 68, 65);
}

#gameboard {
    background-color: rgb(68, 68, 65);
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}